Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  bugprone-*,
  portability-*,
  -readability-identifier-length,

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
